@import "vars";
@import "mixins";
@import "header";
@import "components/feed";
@import "components/detail";

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

a {
    .anchor-style(@text-decoration: underline);
}





/*--- clearfix ---*/

// Source: http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}
