/*--- header ---*/

#main-header {
    height: 65px;
    position: relative;

    h1 {
        font-size: 2em;
        margin-top: 10px;
    }
}





/*--- search ---*/

#search {
    position: absolute;
    right: 0;
    top: 0;

    input {
        padding: 5px;
        width: 150px;
    }
}
