/*--- photo detail ---*/

#photo-detail {
    border: 1px solid @border-color;
    min-width: 350px;
    padding: 20px;
    position: relative;

    #photo-title {
        font-size: 1.4em;
        margin-bottom: 10px;
        padding-right: 100px;
    }

    #go-back {
        border: 2px solid #777;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 10px 20px;
        position: absolute;
        right: 20px;
        top: 20px;

        &:hover {
            background-color: #eee;
            cursor: pointer;
        }
    }

    .info {
        margin-bottom: 30px;
        padding-right: 100px;
    }

    .separator {
        margin: 0 10px;
    }

    .details {
        padding-left: 260px;
        position: relative;
    }

    .thumb {
        background-size: auto;
        background-repeat: no-repeat;
        height: 240px;
        left: 0;
        position: absolute;
        top: 0;
        width: 240px;
    }

    .description p:nth-child(-n+2) {
        display: none;
    }

    @media only screen and (max-width: @breakpoint-medium) {
        .details {
            padding-left: 0;
        }

        .thumb {
            position: static;
        }
    }
}





/*--- photo not found ---*/

.not-found .go-back {
    .anchor-style();
    margin-top: 10px;
}
