/*--- photo list ---*/

@photo-li-height: 90px;

#photo-list {
    background-color: #f3f3f3;
    border: 1px solid @border-color;
    min-width: 350px;
    overflow: auto;

    li {
        background-color: #fff;
        border-bottom: 1px solid @border-color;
        height: @photo-li-height;
        padding-left: 120px;
        position: relative;

        @media only screen and (max-width: @breakpoint-small) {
            padding-left: 90px;

            .thumb {
                width: 90px;
            }
        }
    }

    .thumb {
        background-size: cover;
        border-right: 1px solid @border-color;
        cursor: pointer;
        height: @photo-li-height;
        left: 0;
        position: absolute;
        top: 0;
        width: 120px;
    }

    .inner {
        padding: 10px;

        // this vertically-aligns the element, despite it being variable height
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    h2 {
        .anchor-style(@text-decoration: none);
        font-size: 1.4em;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media only screen and (max-width: @breakpoint-large) {
            margin-bottom: 5px;
        }

        @media only screen and (max-width: @breakpoint-small) {
            font-size: 1.2em;
        }
    }

    .details {
        .author,
        .published {
            margin-right: 10px;
        }

        .published,
        .view {
            font-size: 0.85em;
        }

        .published:first-child {
            display: none;
        }

        @media only screen and (max-width: @breakpoint-large) {
            .published {
                display: none;

                &:first-child {
                    display: block;
                }
            }

            .author {
                font-size: 0.85em;
            }
        }

        @media only screen and (max-width: @breakpoint-small) {
            .view {
                display: block;
                margin-top: 3px;
            }
        }
    }
}
