/*--- title ---*/

#feed-title {
    font-size: 2em;
    height: 65px;
    margin-top: 10px;
}





/*--- photo list ---*/

#photo-list {
    border: 1px solid @border-color;
    overflow: auto;

    li {
        border-top: 1px solid @border-color;
        height: 90px;
        padding-left: 120px;
        overflow: hidden;

        &:first-child {
            border-top: none;
        }
    }

    .thumb {
        background-size: cover;
        border-right: 1px solid @border-color;
        height: 90px;
        margin-left: -120px;
        overflow: hidden;
        width: 120px;
    }
}
